<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Big Cat Index Page</title>
</head>
<body>
  <h1>Big Cats</h1>
  <ul>
    <% for (let i = 0; i < allBigCats.length; i++) { %>
      <li>
        <a href="/bigcats/<%= i %>">
          <%= allBigCats[i].name %>
        </a>
        <br/>
      <form action="/bigcats/<%= i %>/editBigCat">
        <input type="submit" value="Edit big cat">
      </form>
      <form action="/bigcats/<%= i %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete big cat"/>
      </form>
      </li>
      <% } %>    
  </ul>
    <a href="/bigcats/newBigCat">Click here to add a new big cat</a>
</body>
</html>

