body {
  font-family: 'Rubik Microbe', cursive;
  width: auto;
  color: tan;
  background-image: url("../public/yoal-desurmont-jqgsM3B9Fpo-unsplash.jpg");
}
.display {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
.form {
  display: flex;
}
.hover:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.space {
  width: 10px;
}
.button {
  font-family: 'Rubik Microbe', cursive;
  border-style: dotted;
  border-width: 5px;
  border-radius: 25px;
  background-color: tan;
  color: black;
}
.link {
  color: tan;
  text-decoration: none;
  text-align: center;
}
input {
  font-family: 'Rubik Microbe', cursive;
  background-color:black;
  color: tan;
}